head{

}
body{
  background-color: white;
  background-size: 50% 50%;
}
.top{
  background: lightgrey;
  background-size: 50px 25px;
  padding: 5px;
  width: 100%;
  font-family: Times New Roman;
  font-size: 40px;
  text-align: center;
  color: White;
  border-radius: 25px;
  float: center
}

}

.register-page{
  width: 800px;
  margin: auto;
}

.register-form{
  width: 800px;
  margin: auto;
  border-radius: 10px;
}

.form{
  background-color: lightgrey;
  background  width: 50%;
  background-size: 50px 25px;
  top margin: contain;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}
.form input{
   font-family: "Roboto", sans-serif;
   outline: 3;
   background: White;
   border-radius: 10px;
   width: 50%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   font-size: 14px;

}

.form button{
    font font-family: "Roboto", sans-serif;
    outline-color: invert;
    background: lightgrey;
    width: 50%;
    padding: 15px;
    border-radius: 10px;

    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;

}
.form button:hover,.form button:active{
  background: grey;

}
.form .message{
  margin: 15;
  color: white;
  font-size: 12px;
}
.form .message a{
  color: White;
}

h1{
  background: lightgrey;
  background-size: 100px 50px;
  padding: 20px;
  width: rgb(255, 0, 0);%;
  font-family: Times New Roman;
  font-size: 40px;
  text-align: center;
  color: White;
  border-radius: 25px;

  margin: auto;


}
h2{

  background: lightgrey;
  padding: 30px;
  width: 80%;
  font-family: Times New Roman;
  font-size: 20px;
  text-align:auto;
  color: White;
  margin: 0;
  float: center
}
h3{
width: 100%;
text-align: center;

}
.topnav {
  background-color: white;
  width: 100%;
  float: left;
  display: flex;
  color: black;
  text-align: right;
  padding: 14px 16px;

}
.topnav a{
  float: left;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
}

footer{
background: white;
background-position: center;
text-align: center;
font font-family: "Roboto", sans-serif;
color: black;

}
.sidebar{
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}
.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}
.aside{
  width:100%;
  display:flex;
}
.aside aside1{
  width:30%;
  height:300px;
  background-color:blue;
}
#content nav-content{
  text color: black;
}
.side{
  padding
}
.admin-functions{
  position: relative;
}
